# Use either plain password or SHA-256 hash (hash preferred)
VITE_ALBUM_PASSWORD=change_me
VITE_ALBUM_PASSWORD_HASH=b394dcc60d058853f43365f1a2c0d16d4599b6d7d288e52b0d129c7c621b4047
# set to none to allow all tracks to be veiwed without password
VITE_LOCKED_TRACKS=Bologni_Interlude_-_White2Pac_KLICKAUD.mp3,1AM_Freestyle_KLICKAUD.mp3,Tennessee_KLICKAUD.mp3,Reunite_KLICKAUD.mp3,Education_KLICKAUD.mp3,Boovy_Meat_KLICKAUD.mp3
