VITE_ALBUM_PASSWORD=change_me
VITE_LOCKED_TRACKS=Bologni_Interlude_-_White2Pac_KLICKAUD.mp3,1AM_Freestyle_KLICKAUD.mp3,Tennessee_KLICKAUD.mp3,Reunite_KLICKAUD.mp3,Education_KLICKAUD.mp3,Boovy_Meat_KLICKAUD.mp3